html {
  font-family: sans-serif;
  -webkit-text-size-adjust:100%;-ms-text-size-adjust:100%
}

body {
  background: url('../images/lovelace_analytical_machine2.png') no-repeat fixed center / cover;
  margin: 0;
}

header, footer {
  display:block
}


section {
  display: block;
  padding: 50px;
}

img {
  width: 25%;
  border: 0;
}

#home {
  background: url('../images/lovelace_bernoulli_number_algorithm3.png') no-repeat fixed center / cover;
  margin: 0;
  padding: 0;
}

#sep {
  color: #f9c;
  margin: 1.5rem;
}

h1 {
  font-size: 2.5em;
  color: #f9c;
  margin: .67em;
  padding: 30px;
}


h2 {
  color: #fff;
}

p {
  color: #fff;
}

a {
  color: #3ba;
  text-decoration: none;
}

a:hover {
  color: #f9c;
}


/* Styles for the nav bar */

#nav {
  background-color: black;
  display: block;
}

nav ul {
  width: 100%;
  font-family: Arial;
  list-style-type: none;
}

nav ul li {
  display: inline;
}

nav ul li > a {
  font-size: 1.5rem;
}


/* Styles for the form */

form {
  color: #fff;
}

#errorSection {
  color: red;
}

#successId {
  color: green;
}
