body {
  background: url('../images/lovelace_analytical_machine2.png') no-repeat fixed center / cover;
}

.bg-2 {
  background: url('../images/lovelace_bernoulli_number_algorithm3.png') no-repeat fixed center / cover;
  padding: 40px;
}

.bg-footer {
  background-color: black;
  padding-top: 70px;
  padding-bottom: 70px;
}

.container {
  padding: 10% 5% 5% 5% !important;
}

.navbar-inverse {
  padding-left: 20px;
  padding-right: 20px;
}

h1, h2 {
  color: #fcf !important;
}

p, h3 {
  color: #fff !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: #0df !important;
}

.jumbotron {
  padding-top: 200px !important;
  padding-bottom: 300px !important;
  height: 100%
}

#saganQuote {
  padding-left: 40px;
  padding-right: 40px;
}

/* Styles for the form */

form {
  color: #fff;
}

#hideAtFirst {
  background-color: black;
  color: white;
  visibility: hidden;
  padding: 5px;
}

.black-text {
  color: black !important;
}

.white-text {
  color: white;
}

#madLibQuote {
  color: white !important;
  font-size: 1rem;
}

#errorSection {
  color: red !important;
}

#successId {
  color: green !important;
}

#submitButton {
  color: black !important;
}
