body {
  background: url('../images/lovelace_analytical_machine2.png') no-repeat fixed center / cover;
}

.bg-2 {
  background: url('../images/lovelace_bernoulli_number_algorithm3.png') no-repeat fixed center / cover;
  padding: 40px;
  margin-top: 40px;
}

.bg-footer {
  background-color: black;
  padding-top: 70px;
  padding-bottom: 70px;
}

.container {
  padding: 50px;
}

h1, h2 {
  color: #fcf !important;
}

p, h3 {
  color: #fff !important;
}

/* Styles for the form */

form {
  color: #fff;
}

#hideThisAtFirst {
  background-color: black;
  color: black;
}

.black-text {
  color: black !important;
}

.white-text {
  color: white;
}

#madLibQuote {
  color: white !important;
  font: 1rem;
}

#errorSection {
  color: red !important;
}

#successId {
  color: green !important;
}

#submitButton {
  color: black !important;
}
