/* Latest compiled and minified CSS
link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" */

body {
  background: url('../images/lovelace_analytical_machine2.png') no-repeat fixed center / cover;
}

.bg-2 {
  background: url('../images/lovelace_bernoulli_number_algorithm3.png') no-repeat fixed center / cover;
}

.bg-3 {
  background-color: black;
}

.container {
  padding: 50px;
}

#sep {
  color: #f9c;
  margin: 1.5rem;
}

h1 {
  color: #f9c;
}

h2, h3 {
  color: #fff;
}

p {
  color: #fff;
}

/* Styles for the form */

form {
  color: #fff;
}

#errorSection {
  color: red;
}

#successId {
  color: green;
}
