body {
    background-image: url("Images/lovelace_analytical_machine2.png"), url("Images/lovelace_bernoulli_number_algorithm2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	margin-left:50;
	margin-right:100;
}

h1 {
    color: gray;
}


